/* 1. VARIÁVEIS DE CORES E CONTROLE DE TEMAS */
:root {
    --bg-app: #f8fafc; 
    --bg-card: #ffffff; 
    --sidebar-color: #0f172a;
    --primary: #2563eb; 
    --primary-hover: #1d4ed8; 
    --success: #10b981;
    --danger: #ef4444; 
    --text-main: #334155; 
    --text-muted: #64748b;
    --border: #e2e8f0; 
    --radius-lg: 12px; 
    --radius-md: 8px;
    --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.05); 
    --canvas-bg: #ffffff;
}

[data-theme="escuro"] {
    --bg-app: #0f172a; 
    --bg-card: #1e293b; 
    --sidebar-color: #020617;
    --text-main: #f1f5f9; 
    --text-muted: #94a3b8; 
    --border: #334155; 
    --canvas-bg: #1e293b;
}

[data-theme="dracula"] {
    --bg-app: #282a36; 
    --bg-card: #44475a; 
    --sidebar-color: #191a21;
    --primary: #bd93f9; 
    --primary-hover: #ff79c6; 
    --success: #50fa7b;
    --danger: #ff5555; 
    --text-main: #f8f8f2; 
    --text-muted: #6272a4;
    --border: #6272a4; 
    --canvas-bg: #282a36;
}

[data-theme="cyberpunk"] {
    --bg-app: #f3f4f6; 
    --bg-card: #111827; 
    --sidebar-color: #000000;
    --primary: #f43f5e; 
    --primary-hover: #10b981; 
    --success: #06b6d4;
    --danger: #f59e0b; 
    --text-main: #f9fafb; 
    --text-muted: #9ca3af;
    --border: #374151; 
    --canvas-bg: #111827;
}

[data-theme="concurseiro"] {
    --bg-app: #fdfbf7; 
    --bg-card: #ffffff; 
    --sidebar-color: #4a5d4e;
    --primary: #7c9d96; 
    --primary-hover: #e09f3e; 
    --success: #a1ccd1;
    --danger: #e97171; 
    --text-main: #2f3e46; 
    --text-muted: #7f8c8d;
    --border: #e8e8e8; 
    --canvas-bg: #fdfbf7;
}
